.header {
    display: flex;
    height: 524px;
    background: repeat-x url("../img/top_bg.jpg");
}

.header_bg {
    height: 524px;
    width: 1000px;
    margin: 0 auto;
    background: center no-repeat url("../img/header_bg.jpg");
}

.header_phone {
    display: flex;
    justify-content: flex-end;
    margin: 17px;
}

.header_navigation{
    display: flex;
}

.header_navigation-top-list {
    display: flex;
}