.footer {
    display: flex;
    height: 121px;
    margin-top: 5px;
    align-items: center;
}

.footer_navigation-item{
    display: flex;
}

.footer_bg {
    width: 1000px;
    height: 122px;
    position: absolute;
    z-index: -1;
}

.footer::before {
    content: " ";
    position: absolute;
    display: block;
    background-image: url(../../img/footer_bg.jpg);
    height: 122px;
    left: 0;
    z-index: -1;
    right: 0;
}