.footer {
    display: flex;
    height: 121px;
    margin-top: 5px;
    align-items: center;
}

.footer_navigation-item{
    display: flex;
}

.footer_bg {
    width: 1000px;
    height: 122px;
    position: absolute;
    z-index: -1;
}

.footer::before {
    content: " ";
    position: absolute;
    display: block;
    background-image: url(../../img/footer_bg.jpg);
    height: 122px;
    left: 0;
    z-index: -1;
    right: 0;
}

.footer_navigation {
    margin-left: 38px;
    margin-bottom: 6px;
}

.footer_navigation-item-footer {
    display: flex;
}

.navigation-item-footer {
    font-weight:bold;
    font-family: var(--font-family-navigation);
    font-size: var(--font-size-navigation);
}

.item-footer {
    color: var(--color-orange);
    text-decoration: none;
}

.item-footer:hover {
    color: var(--color-content-heading);
}

.footer_navigation ul li + li:before{
    content:"|";
    margin: 0 10px;;
    color: var(--color-orange);
}


.footer_navigation-copyright {
    font-size: 13px;
    margin-left: 94px;
    margin-bottom: 4px;
}