.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.header {
    height: 160px;
}

.header_top {
    height: 52px;
}

.header_top::after {
    content: "Call us now: 800-567-8888";
    position: absolute;
    top: 10px;
    right: 5px;
    color: white;
}


.header_navigation {
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_navigation-img {
    margin-left: 17px;
}

.header_navigation-item {
    display: flex;
}

.navigation-item {
    margin-right: 38px;
    font-weight:bold;
    font-family: var(--font-family-navigation);
    font-size: var(--font-size-navigation);
}

.item {
    color: black;
    text-decoration: none;
}

.item:hover {
    color: white;
    background: url(../../img/contact_hover.jpg);

    
}

.wrapper_bg {
    position: absolute;
    z-index: -1;
}

.wrapper_long-right {
    position: absolute;
    z-index: -1;
    right: 0px;
    width: 50%;
    height: 524px;
}

.wrapper_long-left {
    position: absolute;
    z-index: -1;
    left: 0px;
    width: 50%;
    height: 524px;
}