.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.header {
    height: 160px;
}

.header_top {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_top-call {
    font-weight: 800;
    font-size: 13px;
    margin-bottom: 2px;
    margin-right: 18px;
    color: white;
    font-family: var(--font-family-navigation);
    text-decoration: none;
}


.header_navigation {
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_navigation-img {
    margin-left: 17px;
}

.header_navigation-item {
    display: flex;
    width: 597px;
    height: 107px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6px;
}

.navigation-item {
    /* margin: 15px 20.5px; */
    margin-right: 13px;
    font-weight: bold;
    font-family: var(--font-family-navigation);
    font-size: var(--font-size-navigation);
}

.item {
    display: inline-block;
    color: black;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    width: 86px;
    height: 39px;
}

.item-txt {
    padding: 13px 0;
}

.item:hover {
    color: white;
    background: url(../../img/contact_hover.jpg) 0 0 no-repeat;
    

}

.wrapper_bg {
    position: absolute;
    z-index: -1;
}

.wrapper_long-right {
    position: absolute;
    z-index: -1;
    right: 0px;
    width: 50%;
    height: 524px;
}

.wrapper_long-left {
    position: absolute;
    z-index: -1;
    left: 0px;
    width: 50%;
    height: 524px;
}