.maincontents-img {
    position: absolute;
    z-index: -1;
}

.maincontent_heading{
    font-family: var(--font-family-navigation);
    margin-top: 18px;
    height: 69px;
    margin-left: 30px;
}
.maincontent_h1 {
    font-size: 24px;
    margin-top: 47px;
    font-weight: 600;
}

.maincontent_p {
    font-size: 16px;
    margin-top: 2px;
    margin-left: 4px;
}


.maincontents_content {
    display: flex;
}

.maincontents_content-left{
    width: 69%;
    margin-left: 30px;
}
.maincontents_content-right {
    width: 31%;
}

.maincontents_content-heading{
    display: flex;
}

.content-heading-h2 {
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font-family-navigation);
    padding-top: 32px;
}

.content-heading-p {
    font-size: 22px;
    font-weight: 600;
    font-family: var(--font-family-navigation);
    padding-left: 7px;
    padding-top: 37px;
    color: gray;
}

.maincontents_content-heading-text-heading {
    margin-top: 18px;
    font-family: arial;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: rgb(52, 167, 52);
}
.maincontents_content-heading-text-description {
    width: 642px;
    margin-top: 14px;
    font-family: arial;
    font-size: 13px;
    line-height: 142%;
}

.maincontents_content-heading-text-more {
    display: flex;
    height: 48px;
    align-items: center;
}

.maincontents_content-heading-text-more-txt {
    font-family: arial;
    font-weight: 800;
    font-size: 11px;
    margin-left: 6px;
    color: orange;
}

.maincontents_content-password {
    position: relative;
    width: 255px;
    height: 286px;
    margin-top: 30px;
    margin-left: 16px;
    background-color: #f6f6f6;
    border: 1px solid gray;
    border-radius: 12px;
}

.maincontents_content-password-title {
    position: absolute;
    margin-left: 21px;
    padding-top: 35px;
    font-family: var(--font-family-navigation);
    font-weight: 800;
    font-size: 21.5px;
    color: green;
}


.password-img {
    position: absolute;
    /* z-index: -1; */
}

.content-subtitle-work-h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-family-navigation);
    margin-top: 23px;
}

.maincontents_content-subtitle-work-text-description {
    width: 642px;
    margin-top: 29px;
    font-family: arial;
    font-size: 13px;
    line-height: 142%;
    letter-spacing: 0.2px;
}

.maincontents_content-subtitle-work-clock {
    margin-top: 24px;
    font-family: arial;
}

.maincontents_content-subtitle-work-clock-description {
    display: flex;
    font-size: 13px;
    line-height: 142%;
}

.maincontents_content-subtitle-work-clock-description-text {
    margin-left: 20px;
}

.maincontents_content-subtitle-work-clock-description-text-description {
    padding-top: 14px;
}

.maincontents_content-subtitle-work-clock-description-text-more {
    display: flex;
    height: 49px;
    align-items: center;
}

.maincontents_content-subtitle-work-clock-description-text-txt {
    font-family: arial;
    font-weight: 800;
    font-size: 11px;
    margin-left: 6px;
    color: orange;
}

.maincontents_content-subtitle-work-person-description {
    display: flex;
    margin-top: 6px;
    font-size: 13px;
    line-height: 142%;
}

.maincontents_content-subtitle-work-person-description-text {
    margin-left: 20px;
}

.maincontents_content-subtitle-work-person-description-text-description {
    padding-top: 14px;
}

.maincontents_content-subtitle-work-person-description-text-more {
    display: flex;
    height: 54px;
    align-items: center;
}

.maincontents_content-subtitle-work-person-description-text-txt {
    font-family: arial;
    font-weight: 800;
    font-size: 11px;
    margin-left: 6px;
    color: orange;
}



