.maincontents_content-news {
    position: relative;
    width: 254px;
    height: 315px;
    margin-top: 30px;
    margin-left: 16px;
    background-color: #f6f6f6;
    border: 1px solid gray;
    border-radius: 12px;
}

.news-img {
    position: absolute;
    margin-top: -23px;
}

.maincontents_content-news-title {
    position: absolute;
}

.maincontents_content-news-title-latest {
    margin-left: 64px;
    margin-top: 14px;
    font-size: 29px;
}

.maincontents_content-news-news-top {
    margin-top: 70px;
    display: flex;
}

.maincontents_content-news-news {
    display: flex;
}