.maincontents_content-news {
    position: relative;
    width: 254px;
    height: 315px;
    margin-top: 30px;
    margin-left: 16px;
    background-color: #f6f6f6;
    border: 1px solid gray;
    border-radius: 12px;
}

.news-img {
    position: absolute;
    margin-top: -23px;
}

.maincontents_content-news-title {
    position: absolute;
}

.maincontents_content-news-title-latest {
    margin-left: 64px;
    margin-top: 13px;
    font-size: 29px;
    font-weight: 600;
    letter-spacing: -0.6px;
}

.maincontents_content-news-news-top {
    margin-top: 55px;
    margin-left: 19px;
    display: flex;
    width: 215px;
}

.maincontents_content-news-news-tick {
    height: 100%;
}

.maincontents_content-news-news-text {
    margin-left: 9px;
    margin-top: 12px;
    letter-spacing: -0.3px;
}

.maincontents_content-news-news-text-data {
    font-size: 15px;
    font-weight: 600;
}

.maincontents_content-news-news-text-description {
    margin-top: 11px;
    font-size: 15px;
    line-height: 17px;
}

.maincontents_content-news-news-img-more {
    display: flex;
    align-items: center;
    margin-left: 52px;
    margin-top: 8px;
    font-size: 12px;
}

.img-more {
    height: 6px;
    padding-right: 8px;
}

.maincontents_content-news-news {
    display: flex;
    margin-top: 17px;
    margin-left: 19px;
    width: 215px;
}

.more {
    text-decoration: none;
    color: orange;
}