.maincontents_content-news {
    position: relative;
    width: 254px;
    height: 315px;
    margin-top: 30px;
    margin-left: 16px;
    background-color: #f6f6f6;
    border: 1px solid gray;
    border-radius: 12px;
}

.news-img {
    position: absolute;
    margin-top: -23px;
}

.maincontents_content-news-title {
    position: absolute;
}

.maincontents_content-news-title-latest {
    margin-left: 64px;
    margin-top: 14px;
    font-size: 29px;
}

.maincontents_content-news-news-top {
    margin-top: 55px;
    margin-left: 19px;
    display: flex;
}

.maincontents_content-news-news-tick {
    height: 100%;
}

.maincontents_content-news-news-text {
    margin-left: 10px;
    margin-top: 10px;
}

.maincontents_content-news-news-text-description {
    margin-top: 11px;
}

.maincontents_content-news-news-img-more {
    display: flex;
    align-items: center;
    margin-left: 52px;
    margin-top: 6px;
}

.img-more {
    height: 6px;
    padding-right: 8px;
}

.maincontents_content-news-news {
    display: flex;
    margin-top: 17px;
    margin-left: 19px;
}