.maincontents_content-password-name {
    position: absolute;
    padding-top: 68px;
    margin-left: 35px;
}

.maincontents_content-password-more-account {
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 180px;
}

.maincontents_content-password-more-password {
    display: flex;
    align-items: center;
}

.maincontents_content-password-more-account-txt {
    font-family: arial;
    font-weight: 800;
    font-size: 11px;
    margin-left: 6px;
    color: orange;
}

.maincontents_content-password-more-password-txt {
    font-family: arial;
    font-weight: 800;
    font-size: 11px;
    margin-left: 6px;
    color: orange;
}

input {
    border-radius: 15px;
    margin: 0;
    height: 20px;
}

.account-info {
    /* padding: 20px 20px 0 20px; */
  }
  .account-info label {
    color: #395870;
    display: block;
    font-weight: bold;
    /* margin-bottom: 20px; */
  }
  .account-info input {
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #636466;
    padding: 6px;
    margin-top: 6px;
    width: 100%;
  }